* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #111215;
	color: #fff;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	line-height: 1.5;
	padding-bottom: 2rem;
}

h1,
h2,
h3 {
	font-weight: 500;
	text-wrap: balance;
}

h1 {
	margin-bottom: 1rem;
}

p {
	margin-block: 1rem;
	text-wrap: pretty;
}

a {
	color: inherit;
	text-underline-offset: 2px;
}

summary {
	cursor: pointer;
}

:is(a, summary, input, button):focus-visible {
	outline: 1px solid currentColor;
	outline-offset: 2px;
}
